<html>
	<head> 
		<title>Red Wine Predictor</title>
	</head>
	<body>
		
		<H1>Red Wine Predictor</H1>
		
		<form action = "/red_predict" >
		<table>
			<tr>
			<td><label for = "va"> volatile acidity </label></td>
			<td><input type = "text" id = "text_va" name = "va"></td>
			</tr>	
			
			<tr>
			<td><label for = "sul"> sulphates </label></td>
			<td><input type = "text" id = "text_sul" name = "sul"></td>
			</tr>
		
			<tr>			
			<td><label for = "alc"> alcohol </label></td>
			<td><input type = "text" id = "text_alc" name = "alc"></td>
			</tr>
			 
		</table>
		
		<P>
		<input type="submit" value="Submit">
		</P>
		
		
		<a href="/white_input">White wine</a>
		
		</form>
	</body>
</html>

