<html>
	<head> 
		<title>White Wine Predictor</title>
	</head>
	<body>
		<H1>White Wine Predictor</H1>
		
		<form action = "/white_predict">
		<table>
		<tr>
			<td><label for = "fa"> fixed acidity </label></td>
			<td><input type = "text" id = "fa" name = "fix_acid"></td>
		</tr>
		
		<tr>	
			<td><label for = "va"> volatile acidity </label></td>
			<td><input type = "text" id = "va" name = "vol_acid"></td>
		</tr>
			
		<tr>
			<td><label for = "ca"> citric_acid </label></td>
			<td><input type = "text" id = "va" name = "citric_acid"></td>
		</tr>	
		
		<tr>
			<td><label for = "rs"> residual sugar </label></td>
			<td><input type = "text" id = "rs" name = "resi_sugar"></td>
		</tr>
			
		<tr>
			<td><label for = "cl"> chlorides </label></td>
			<td><input type = "text" id = "cl" name = "chlorides"></td>
		</tr>
			
		<tr>
			<td><label for = "fsd"> free sulfur dioxide </label></td>
			<td><input type = "text" id = "fsd" name = "free_sul_o2"></td>
        </tr>
		
		<tr>
			<td><label for = "tsd"> total sulfur dioxide </label></td>
			<td><input type = "text" id = "tsd" name = "total_sul_o2"></td>
		</tr>
			
		<tr>
			<td><label for = "den"> total density </label></td>
			<td><input type = "text" id = "den" name = "density"></td>
		</tr>

		<tr>
			<td><label for = "pH"> pH </label></td>
			<td><input type = "text" id = "pH" name = "pH"></td>
		</tr>
			
		<tr>
			<td><label for = "sul"> sulphates </label></td>
			<td><input type = "text" id = "p" name = "sulphates"></td>
		</tr>
			
		<tr>
			<td><label for = "alc"> alcohol </label></td>
			<td><input type = "text" id = "alc" name = "alcohol"></td>
		</tr>
		
		</table>
		<p>
			 <input type="submit" value="Submit">
		</p>
		<a href = "/red_input">Red wine</a>
		</form>
	</body>
</html>

