<html>
	<head>
		<title>	white wine quality prediction </title>
		
	</head>
	<body>
		<h1> white wine quality prediction </h1>
		Estimated wine quality = {{ arr_white_predict }}<br><br>
		<table border=1>
			<tr>
			<td>fix_acidity  </td> <td> {{ fix_acid }}</td>
			</tr> 
			
			<tr>
			<td>vol_acid </td><td> {{ vol_acid }}</td>
			</tr>
			
			
            <tr>
			<td>citric_acid </td><td>{{ citric_acid }}</td>
			</tr>
			
			<tr>
			<td>resi_sugar </td><td>{{ resi_sugar }}</td>
			</tr>
			
			<tr>
			<td>chlorides </td><td>{{ chlorides }}</td>
			</tr> 
			
            <tr>
			<td>free_sul_o2 </td><td>{{ free_sul_o2 }}</td>
			</tr>
			
			<tr>
			<td>total_sul_o2 </td><td>{{ total_sul_o2 }}</td>
			</tr>
			
			<tr>
			<td>density </td><td>{{ density }}</td>
			</tr> 
			
            <tr>
			<td>pH </td><td>{{ pH }}</td>
			</tr>
			
			
			<tr>
			<td>sulphates </td><td>{{ sulphates }}</td>
			</tr>
			
			<tr>
			<td>alcohol </td><td>{{ alcohol }}</td>
			</tr>
                               
		</table>
		 <a href = "/white_input">Back</a>
	</body>
</html>

 